<div class="content-wrapper container">
  <div class="standup bg-light pal">
    <h1 class="h2 mbl">Edit Standup</h1>

    <%= render 'form', standup: @standup %>

    <%= form_for @standup, method: :delete, html: {class: 'form-horizontal'} do |form| %>
      <div class='control-group'>
        <div class="controls">
          <%= form.submit 'Delete Standup', class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
    <%- end %>
  </div>
</div>
