<div class="content-wrapper container">
  <div class="standup bg-light pal">
    <h2 class="h2 mbl">Choose a Standup</h2>
    <div class="row mbl">
      <% @standups.each do |standup| %>
        <div class="col-sm-3">
          <%= link_to standup.title, standup, class: 'display-block pvs' %>
        </div>
      <% end %>
    </div>
    <%= link_to('New Standup'.html_safe, new_standup_path, class: 'btn btn-primary btn-large btn-block') %>
  </div>
</div>
