/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Bootstrap Variable Overrides
@import "variables";

// Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "compass/css3/box";
@import "sass-flex-mixin";

// Custom
@import "extends";
@import "defaults";
@import "toolbox";
@import "layout";
@import "block";

.content-wrapper {
  padding: 0px 15px;
}

.standup {
  @include flexbox;
  @include flex-direction(column);
}

.kind {
  width: 100%;
  margin: 0;

  @include flexbox;
  @include flex-direction(column);
}

.preview pre {
  background-color: white;
}

.bottom {
  background-color: rgba(255, 255, 255, 0.85);
}

.control-group i {
  font-size: 28px;
  line-height: 28px;
}

// MESSAGING
// =========================================
.notice {
  font-style: italic;
  color: #FF8080;
}

.errors {
  border: 1px solid #EABABA;
  background-color: #FAE2E2;
  padding: 1rem 2rem;
  margin: 0 0 2rem 0;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 0 1.3em;
  }
}
.text-error {
  @extend %h5;
}

.image_days .controls{
  margin-top: 5px;

  label {
    display: inline;
    margin-right: 12px;
    margin-left: 2px;
  }
  input {
    margin-top: 0;
  }
}

// HELPS
// =========================================
.help-block {
  color: $gray-light; // lighten the text some for contrast
}

.help-wide {
  width: 200px;
}


// EVENTS
// =========================================
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #dedede;
  cursor: default;
}
.datepicker table tr td.active {
  background: #0088CC;
  border-radius: 8px;
  color: white;
}
